* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#page-1 {
  margin: 1rem 2rem;
}

#main {
  position: relative;
}

.main__header,
.main__header-caption {
  text-align: center;
  margin-top: 1rem;
}

.main__header {
  font-size: 40px;
}

#main-table {
  border: 2px solid black;
  background-color: ghostwhite;
  margin: 2rem auto;
  padding: 1rem;
}

td {
  border: 1px solid black;
  width: 180px;
  height: 180px;
  padding: 0.5rem;
}

.main-table__panel {
  width: 180px;
  height: 180px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-size: 180px 180px;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid black;
  position: relative;
}

.panel-cover {
  width: 178px;
  height: 178px;
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.pop-up {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pop-up__btnBegin {
  display: block;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.pop-up__img {
  display: block;
  width: 150px;
  height: 150px;
}

.pop-up__header {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.highlight {
  border: 2px solid cornflowerblue;
}

.btn-level {
  position: absolute;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.levels {
  width: 100px;
  height: 50px;
  background-color: ghostwhite;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  cursor: pointer;
  margin: 1rem 0;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}
